<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/styles/style_home.css">
</head>
<body>
    <h1>wellcome to Bring Thoughts</h1>
    <h2>TOTAL NUMBER OF USER :<%= count %></h2>
    <form method="get" action="/user/add_new_user">
    <h2><button>Sigin up</button></h2>
</form>
<form method="get" action="/login">
    <h2><button>Login</button></h2>
    </form>
</body>
</html>